<ion-view >
  <ion-header-bar>

    	<button class="button ion-close-round" ui-sref="app.list"></button>
    	<h1 class="title">{{'edittask' | translate}}</h1>
    	<button class="button button-clear button-positive" ng-click="save()">OK</button>
  </ion-header-bar>
  <ion-content padding="true">
	<div class="list">
		<label class="item item-input">
	  		<input type="text" placeholder="{{'Project' | translate}}" ng-model="model.project">
	  	</label>
	  	<label class="item item-input">
	  		<input type="text" ng-model="model.task" ng-disabled="button" 
			 placeholder="{{'TaskName' | translate}}" required name="taskname">
	  	</label>
	  	<label class="item item-input">
	  		<input type="text" placeholder="{{'Notes' | translate}}" ng-model="model.notes">
	  	</label>
	  	<label class="item item-input">
	  		<input type="text" placeholder="{{'Location' | translate}}" ng-model="model.location">
	  	</label>
	  			
	  	<label class="item item-input">
	  		{{'Date' | translate}}: <input type="datetime-local" ng-model="model.dateEnd">
	  	</label>
	  	
			  	
	</div>	    	
  </ion-content>

</ion-view>