<ion-view >
  <ion-header-bar>
    	<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    	<h1 class="title">{{'edittask' | translate}}</h1>
    	<button ng-if="model.task" class="button button-clear button-positive" ng-click="save()">{{'save' | translate}}</button>
  </ion-header-bar>
  <ion-content >
	<div class="list">
		<label class="item item-input">
	  		{{'Project' | translate}}: <input type="text" ng-model="model.project">
	  	</label>
	  	<label class="item item-input">
	  		{{'TaskName' | translate}}: <input type="text" ng-model="model.task" ng-disabled="button" required name="taskname">
	  	</label>
	  	<label class="item item-input">
	  		{{'Notes' | translate}}: <input type="text" ng-model="model.notes">
	  	</label>
	  	<label class="item item-input">
	  		<div>{{'datestart' | translate}}: </div><div><input type="datetime-local" ng-model="model.dateStart"></div>
	  	</label>
	  	<label class="item item-input">
	  		<div>{{'dateend' | translate}}: </div><div><input type="datetime-local" ng-model="model.dateEnd"></div>
	  	</label>
	  	<label class="item item-input">
	  		<div>{{'dateexpect' | translate}}: </div><div><input type="datetime-local" ng-model="model.dateExpect"></div>
	  	</label>
	  	<div class="item item-input" ng-init="selected = model.ownedBy;">
		  	<span>{{'Assign' | translate}}: </span>
		  	<fancy-select-model template-url="templates/user/select.html" 
					ng-selected="selected" 
					ng-model="userlist" 
					label="username" 
					title="Select users">
			</fancy-select-model>
		</div>

  		<div class="item">
			<span>{{'progress' | translate}}(%): </span>
			<input type="checkbox" class="todoCheckbox" ng-model="model.progress"
					ng-true-value="100" ng-false-value="0">
		</div>   	  	
	</div>	    	
  </ion-content>
</ion-view>