<div>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="search" placeholder="{{'Search' | translate}}" ng-model="searchTodos">
	</label>
</div>
<div class="row bar-subheader header">
	<div class="col col-50">
		<a ng-click="reorder('task')" class="pointer">
			<div>{{'TaskName' | translate}}</div>
			<div>{{'Project' | translate}}</div>
			<div>{{'progress' | translate}}</div>
		</a>
	</div>
	<div class="col col-25 ">
		<a ng-click="reorder('dateStart')" class="pointer">
		<div>{{'datestart' | translate}}</div>
		<div>{{'dateend' | translate}}</div>
		</a>
	</div>
	<div ng-if="ownedBy != 'me'" class="col col-25 ">
		<a ng-click="reorder('ownedBy')" class="pointer">{{'Assign' | translate}}</a>
	</div>
	<div ng-if="ownedBy == 'me'" class="col col-25 ">
		<a ng-click="reorder('createdBy')" class="pointer">{{'createdBy' | translate}}</a>
	</div>
</div>
	
<ion-content class="has-subheader">	
	<ion-list>	
		<ion-item class="todolist" ng-repeat="model in collection.models | todosFilter:searchTodos:collection.state.skip:collection.state.count:collection.state.limit"  on-tap="$event.stopPropagation(); read('{{model.id}}');">				
			  <div class="col col-50 listview">
			  	<h2>{{model.task}}</h2>
			  	<p>{{model.project}} </p>
			  	<div ng-if="!model.project"></br></div>
			  	<p>{{model.progress}}%</p>
			  </div>
			  <div class="col col-25 listview list-data">
			  	<p>{{model.dateStart | date: 'd.M.yyyy'}}</p><div ng-if="!model.dateStart"></br></div>
			  	<p>{{model.dateEnd | date: 'd.M.yyyy'}}</p>
			  </div>
			  <div ng-if="ownedBy != 'me'" class="col col-25 listview list-data">{{model.ownedBy.username}}</div>
			  <div ng-if="ownedBy == 'me'" class="col col-25 listview list-data">{{model.createdBy.username}}</div>
			<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit(model);">Edit</ion-option-button>
			<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model);">Delete</ion-option-button>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>
