<ion-content>
	<ion-list>
		<ion-item ng-repeat="model in collection.models"  on-tap="$event.stopPropagation(); read('{{model.id}}');">				
			<div class='row'>
					<div class='col'>
						{{model.task}}
					</div>
					<div class='col'>
						{{model.dateEnd | date: 'dd - MMMM - yyyy'}}
					</div>
					<div class='col'>
						{{model.ownedBy.username}}
					</div>
										
			</div>
			<ion-option-button class="button button-positive icon-left ion-edit" on-tap="$event.stopPropagation(); edit(model);">Edit</ion-option-button>
			<ion-option-button class="button button-assertive icon-left ion-trash-b" on-tap="$event.stopPropagation(); delete(model);">Delete</ion-option-button>
		</ion-item>
	</ion-list>
	<ion-infinite-scroll ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">
	</ion-infinite-scroll>	
</ion-content>