<ion-header-bar class="item-input-inset">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
    <h1 class='title'>{{'next7dlist' | translate}}</h1>
    <button class="button ion-plus-round button-clear" ui-sref="app.createTodo"></button>  
</ion-header-bar>
<ion-content >
	<label class=" item-input">
	    <i class="icon ion-search placeholder-icon"></i>
	    <input type="search" placeholder="{{'Search' | translate}}" ng-model="search.task">
	</label>
	
	<ion-list>
		<div ng-show="groupTodoA.length" class="item item-divider font17 font-bold" >{{'noschedule' | translate}}</div>
		<div ng-repeat="model in groupTodoA | filter:search">
			
			<ion-item class="item-stable"
                    ng-click="toggleGroup(model)"
                    ng-class="{active: isGroupShown(model)}">
              <div class='row'>
	            <div class="col-10"><i class="icon" ng-class="isGroupShown(model) ? 'ion-compose' : ''"></i></div>
	            <div class="col-50">{{model.task}} </div>
	            <div class="col-40">{{'Project' | translate}}: {{model.project}}</div>
            </div>
          </ion-item>
          <div class="item-accordion" ng-show="isGroupShown(model)">
	            <button style="width: 24%;" class="button ion-checkmark-round button-clear" on-tap="$event.stopPropagation(); controller.setComplete(model);"></button>
	            <button style="width: 24%;" class="button ion-ios7-paper button-clear" on-tap="$event.stopPropagation(); controller.read(model);"></button> 
	            <button style="width: 24%;" class="button ion-edit button-clear" on-tap="$event.stopPropagation(); controller.edit(model);"></button> 
	            <button ng-show=" {{model.createdBy==model.username}}" style="width: 24%;" class="button ion-trash-a button-clear" on-tap="$event.stopPropagation(); controller.remove(model);"></button>
          </div>
		</div>
      <div class="daterow" ng-repeat="(edate, lTasks) in groupedByDate | orderBy:['edate']">
		<div class="item item-divider font17 font-bold" >{{formatDays(edate) | translate}}{{formatDate(edate, "EEE") | translate}}  
			<span class="h2_date">{{edate | date: 'd MMM'}}</span>				
		</div>
		<div ng-repeat="model in lTasks | filter:search">
			<ion-item class="item-stable"
                    ng-click="toggleGroup(model)"
                    ng-class="{active: isGroupShown(model)}">
              <div class='row'>
	            <div class="col-10"><i class="icon" ng-class="isGroupShown(model) ? 'ion-compose' : ''"></i></div>
	            <div class="col-50">{{model.task}} </div>
	            <div class="col-40">{{'Project' | translate}}: {{model.project}}</div>
            </div>
          </ion-item>
          <div class="item-accordion" ng-show="isGroupShown(model)">
	            <button style="width: 24%;" class="button ion-checkmark-round button-clear" on-tap="$event.stopPropagation(); controller.setComplete(model);"></button> 
	            <button style="width: 24%;" class="button ion-ios7-paper button-clear" on-tap="$event.stopPropagation(); controller.read(model);"></button> 
	            <button style="width: 24%;" class="button ion-edit button-clear" on-tap="$event.stopPropagation(); controller.edit(model);"></button>
	            <button  ng-show=" {{model.createdBy==model.username}}" style="width: 24%;" class="button ion-trash-a button-clear" on-tap="$event.stopPropagation(); controller.remove(model);"></button>
          </div>
		</div>
      </div>
	</ion-list>
	<ion-infinite-scroll 
	ng-if="collection.state.skip < collection.state.count" on-infinite="loadMore()">	
	</ion-infinite-scroll>	
    <div style="height: 50px;">    </div>			
</ion-content>